@import "variables";
@import "icons";
@import "bootstrap";
@import "compass";
@import "compass/css3/transform";
@import "compass/css3/user-interface";
@import "bootstrap-datepicker";

@font-face {
  font-family: 'Dosis';
  src: font-url('dosis_regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Dosis';
  src: font-url('dosis_bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Dosis';
  src: font-url('dosis_extralight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: font-url('OpenSans-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: font-url('OpenSans-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Open Sans';
  src: font-url('OpenSans-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: font-url('OpenSans-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Open Sans';
  src: font-url('OpenSans-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: font-url('OpenSans-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Ubuntu Mono';
  src: font-url('UbuntuMono-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'Moderat Bold';
  src: font-url('Moderat-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body{
  color: $body-color;
  background-color: $body-background-color;
}

.valign-wrapper{
  position: relative;
  top: 50%;
  @include transform(translateY(-50%));
}

p{
  font-family: $body-font-family;
}


.primary-well{
  background: $brand-primary;
}

.btn-link{
  color: $white-like;
}
.btn-link:hover{
  color: $white-like;
  font-weight: 200;
}

hr{
  border-top: 1px solid $lines-color;
}

a, a:hover, a:visited {
  color: $brand-primary;
  text-decoration: none;
}
a:hover{
  cursor: pointer;
}

a.btn, a.btn:hover, a.btn:visited {
  color: $white-like;
}

thead{
  th{
    font-weight: normal;
  }
}

