@import 'https://fonts.googleapis.com/css?family=Open+Sans';

.main-content.landing{
  color: $white-like;
  font-size: 6px;

  @media (min-width: $screen-md-min) {
    font-size: 8px;
  }
  @media (min-width: $screen-lg-min) {
    font-size: 10px;
  }

  .alert{
    font-size: 1.5em;
  }
  .pre-signup-region, .contact-request{
    margin: 3em 0;
    .btn-primary{
      @media (min-width: $screen-md-min) {
        margin-left: 5px;
      }
    }
  }
  
  #footer{
    background-color: transparent;
    box-shadow: none;
    .underfooter{
      margin-top: 20px;
      .deloitte{
        img{ width: 100px; }
        span{ 
          font-size: 16px;
          vertical-align: bottom;
        }
      }
    }
  }
  .footer-bg{
    background-color: rgba(5, 40, 51, 1);
  }

  .form-control{
    @include border-radius(5px);
    border: 1px solid #ccc;
    font-family: 'Open Sans';
    padding: 10px 15px;
    font-weight: 100;
    font-size: 13px;
    color: #666;
    height: 30px;
    @media (min-width: $screen-md-min) {
      font-size: 16px;
      height: auto;
    }
  }
  textarea.form-control{
    height: 60px;
    @media (min-width: $screen-md-min) {
      height: auto;
    }
  }

  h1, h2{
    text-align: left;
    font-weight: 200;
    strong{
      font-weight: normal;
    }
  }
  h1{
    font-size: 4.25em;
    margin-top: 0;
    letter-spacing: 0.025em;
    @media (min-width: $screen-md-min) {
      font-size: 5.5em;
    }
  }
  h2{
    font-size: 4em;
    @media (max-width: $screen-xs-max) {
      font-size: 3em;
    }
    text-align: left;
    font-weight: 100;
    letter-spacing: 0.025em;
  }
  h3{
    font-size: 3em;
    font-weight: 400;
    font-family: 'Open Sans';
    line-height: 1.25;
    text-align: left;
    margin: 1em 0 0 0;
    letter-spacing: 0.025em;
  }
  h4{
    font-size: 2.4em;
    font-weight: 100;
    text-align: left;
    font-family: 'Open Sans';
    line-height: 1.5;
    letter-spacing: 0.025em;
    margin: 1em 0 0 0;
    @media (min-width: $screen-md-min) {
      font-size: 2.2em;
    }
  }
  h5{
    font-size: 2em;
    font-weight: 100;
    text-align: left;
    font-family: 'Open Sans';
    line-height: 1.5;
    letter-spacing: 0.025em;
    margin: 1em 0 0 0;
  }
  p{
    font-family: 'Open Sans';
    text-align: justify;
    font-size: 2em;
    font-weight: 100;
    @media (min-width: $screen-md-min) {
      font-size: 1.5em;
    }
    span{
      font-weight: bold;
    }
  }
  .action-button{
    margin-top: 3em;
    text-align: left;
    @media (min-width: $screen-lg-min) {
      margin-top: 3em;
    }
  }
  .btn-lg{
    border: none;
    padding: 2.5px 35px;
    font-weight: 200;
    font-size: 2.2em;
    line-height: 31px;
    margin-top: 3px;
    @media (min-width: $screen-sm-min){
      font-size: 1.8em;
      padding: 0.25em 1.5em 0.25em !important;
    }
  }
  .btn-success{
    background-color: #52DC90;
    color: #fff;
    border: 2px solid #52DC90;
    font-weight: 400;
    @include border-radius(5px);
    font-family: 'Open Sans';
    @include transition(all 0.5s ease-in-out);
  }
  .btn-success:hover{
    background-color: #fff;
    color: #52DC90;
  }
  .btn-primary{
    background-color: transparent;
    color: #fff;
    border: 2px solid #fff;
    font-weight: 400;
    @include border-radius(5px);
    font-family: 'Open Sans';
    @include transition(all 0.5s ease-in-out);
  }
  .btn-primary:hover{
    background-color: #fff;
    color: #1b80c4;
  }
  .input-lg{
    @include border-radius(5px);
    height: 35px;
    @media (min-width: $screen-md-min) {
      height: 50px;
    }
  }
  #fullpage{
    .section{
      opacity: 0;
      position: relative;
      @include transition(opacity 0.5s ease-in-out);
      padding: 0 30px;
      @media (min-width: $screen-sm-min){
        max-width: 75%;
        margin-left: 12.5%;
        padding: 0;
      }
    }
    .section.active{
      opacity: 1;
    }
    .container{
      position: relative;
      height: 100%;
      padding: 0 30px;
      @media (min-width: $screen-md-min) {
        padding: 0 15px;
      }
      img.img-responsive{
        margin: 15px 0;
      }
      @media (min-width: $screen-sm-min){
        width: 75%;
        padding: 0;
      }
    }
    .foreground-1 .valign-wrapper{
      @media (max-width: $screen-sm-max) {
      }
    }
  }

  .brand-attributes{
    margin: 0 0 1em 0;
    @media (min-width: $screen-lg-min) {
      margin: 0;
    }
    h4{
      margin: 0.5em 0 0 0;
      @media (min-width: $screen-md-min) {
        text-align: left;
        margin: 1.5em 0 0 0.5em;
      }
    }
    p{
      font-weight: bold;
      text-align: left;
      @media (min-width: $screen-md-min) {
        margin-top: 10px;
      }
    }
    .description{
      font-size: 2.2em;
      font-weight: 200;
      text-align: center;
    }
    a {
      color: #fefefe;
      font-weight: bold;
      text-decoration: underline;
    }
  }
  .grid{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    pointer-events: none;
    span{
      background-color: rgba(255,255,255,0.10);
      position: absolute;
    }
    span:nth-child(1){
      top: 0;
      left: calc(25% - 0.5px);
      width: 1px;
      height: 100%;
    }
    span:nth-child(2){
      top: 0;
      left: calc(50% - 0.5px);
      width: 1px;
      height: 100%;
    }
    span:nth-child(3){
      top: 0;
      left: calc(75% - 0.5px);
      width: 1px;
      height: 100%;
    }
    span:nth-child(4){
      top: 0;
      top: calc(25% - 0.5px);
      height: 1px;
      width: 100%;
    }
    span:nth-child(5){
      left: 0;
      top: calc(50% - 0.5px);
      height: 1px;
      width: 100%;
    }
    span:nth-child(6){
      left: 0;
      top: calc(75% - 0.5px);
      height: 1px;
      width: 100%;
    }
  }
  a.lang{
    background-image: image-url("lang-icon.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 35px;
    height: 35px;
    display: block;
    position: fixed;
    bottom: 45px;
    right: 45px;
  }
  .scroll{
    position: fixed;
    width: 150px;
    height: 30px;
    bottom: 0px;
    left:30px;
    span{
      width: 60px;
      height: 1px;
      background: #fff;
      display: block;
    }
    p{
      font-family: 'Open Sans';
      font-weight: 200;
      font-size: 14px;
      margin-top: -10px;
      margin-left: 75px;
    }
    @media (min-width: $screen-md-min) {
      bottom: 115px;
      @include transform(rotate(-90deg) translate3d(0,-100%,0));
    }
  }
  .steps{
    position: fixed;
    top: 0;
    right: 0;
    width: 25%;
    height: 100%;
    span{
      background-color: #ffffff;
      position: absolute;
      height: 1px;
      width: 50%;
      right: 0;
      p{
        font-family: 'Open Sans';
        font-weight: 200;
        font-size: 14px;
        margin-top: 20px;
      }
    }
    span:nth-child(1){
      top: calc(25% - 0.5px);
    }
    span:nth-child(2){
      top: calc(50% - 0.5px);
    }
    span:nth-child(3){
      top: calc(75% - 0.5px);
    }
  }
  .backgrounds{
    position: fixed;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    overflow: visible;
    .background{
      position: absolute;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: 50%;
      height: 100%;
      width: 100%;
      @include transition(all 1s ease-in-out);
      @include transform(scale(1.2));
    }
    .background.active{
      @include transform(scale(1));
    }
  }
  .large-numbers{
    font-size: 4em;
    margin-bottom: 0.1em;
  }
  .market-summary{
    text-align: left;
    margin: 1.5em 0 1em 0;
    font-weight: 100;
    .large-numbers{
      font-size: 4em;
      margin-bottom: 0.1em;
    }
    .smaller-numbers{
      font-size: 2em;
      > div:not(:last-child){
        border-right: 1px solid #fff;
      }
    }
    .title{
      font-weight: normal;
    }
  }
}

.main-content.landing.exchange{
  .btn-primary{
    background-color: transparent;
    /* color: #ac965c; */
    /* border: 2px solid #ac965c; */
    @include border-radius(5px);
    font-family: 'Open Sans';
  }
  .btn-primary:hover{
    /* background-color: #ac965c; */
    color: #fff;
  }
  @for $i from 1 through 3 {
    .background-#{$i} {
      background-image: image-url("landing_exchange/#{$i}.jpg");
    }
  }

  .public-graph, .public-graph-small{
    margin: 10px 0;
    background: transparent;
  }

  .grid span{
    background-color: rgba(255,255,255,0.05);
  }
  
  h1{
    /* color: #ac965c; */
  }
}

.main-content.landing.bitex{
  @for $i from 1 through 5 {
    .background-#{$i} {
      background-image: image-url("landing_bitex/#{$i}.jpg");
    }
  }
}
.main-content.landing.pay{
  @for $i from 1 through 3 {
    .background-#{$i} {
      background-image: image-url("landing_pay/#{$i}.jpg");
    }
  }
}

.main-content.landing.otc{
  @for $i from 1 through 2 {
    .background-#{$i} {
      background-image: image-url("landing_otc/#{$i}.jpg");
    }
  }
}

.main-content.landing.concierge{
  @for $i from 1 through 3 {
    .background-#{$i} {
      background-image: image-url("landing_concierge/#{$i}.jpg");
    }
  }
}

.section.concierge-section{
  .concierge-calculator{
    margin-top: 3em;
    .quote-container{
      @media (min-width: $screen-lg-min) {
        padding-right: 1.5em;
      }
      .input-group-addon{
        text-transform: uppercase;
        &.prefix{
          border-top-left-radius: 5px;
          border-bottom-left-radius: 5px;
          width: 85px;
          @media (max-width: $screen-sm-max) {
            width: 50px;
            padding: 0px;
            font-size: 10px;
          }
        }

        &.suffix{
          border-top-right-radius: 5px;
          border-bottom-right-radius: 5px;
        }
      }

      input.form-control{
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
        border: 1px solid #ccc;
        @media (max-width: $screen-xs-max) {
          border-top-right-radius: 5px;
          border-bottom-right-radius: 5px;
        }
      }
    }
    .contact-container{
      @media (min-width: $screen-lg-min) {
        padding-left: 1.5em;
      }
      .btn-xs{
        font-size: 2em;
        padding: 2px;
      }
    }
    .calc-steps{
      margin-bottom: 10px;
      .btn{
        border-radius: 5px;
        width: 100%;
        background-color: #fff;
        border: 1px solid #ccc;
        color: #555;
        text-align: left;
        padding: 10px 12px;
        font-weight: 200;
        @media (max-width: $screen-sm-max) {
          padding: 4px;
        }
      }
    }
  }
}
.main-content.concierge-pre{
  #foregrounds{
    height: 100%;
    .foreground-1{
      height: 1000px;
      opacity: 1;
     }
   }
  h1{
    margin-bottom: 1em;
  }
  h4{
    text-align: left;
  }
  .container{
    padding-bottom: 3em;
  }
  .form-wrapper{
    padding: 0 10px;
  }
  .services-navbar{
    position: abslute;
    width: 100%;
    margin-bottom: 6em;
  }
  .share{
    text-align: center;
    @media (min-width: $screen-md-min) {
      text-align: left;
    }
    margin-top: 1em;
    a, a:visited, a:hover{
      color: $white-like;
      font-size: 1.5em;
      padding: 0 0.1em;
    }
  }
}

#fp-nav {
  position: fixed;
  z-index: 100;
  margin-top: -32px;
  top: 50%;
  right: 50px;
  opacity: 1;
  -webkit-transform: translate3d(0,0,0);
  ul {
    margin: 0;
    padding: 0;
    li {
      display: block;
      width: 20px;
      height: 19px;
      margin: 7px;
      position:relative;
      a {
        display: block;
        position: relative;
        z-index: 1;
        width: 100%;
        height: 100%;
        cursor: pointer;
        text-decoration: none;
        span{
          border-radius: 50%;
          position: absolute;
          z-index: 1;
          height: 12px;
          width: 12px;
          border: 2px solid #fff;
          left: 50%;
          top: 50%;
          margin: -6px 0 0 -6px;
          -webkit-transition: all 0.1s ease-in-out;
          -moz-transition: all 0.1s ease-in-out;
          -o-transition: all 0.1s ease-in-out;
          transition: all 0.1s ease-in-out;
        }
      }
      a.active{
        span{
          height: 12px;
          width: 12px;
          margin: -6px 0 0 -6px;
          border-radius: 100%;
          background-color: #fff;
        }
      }
      .fp-tooltip {
        position: absolute;
        top: -2px;
        right: 35px;
        color: #fff;
        font-size: 14px;
        font-family: 'Open Sans', helvetica, sans-serif;
        white-space: nowrap;
        max-width: 220px;
        overflow: hidden;
        display: block;
        opacity: 0;
        width: 0;
        cursor: pointer;
      }
    }
  }
  li:hover{
    a{
      span{
        width: 10px;
        height: 10px;
        margin: -5px 0px 0px -5px;
      }
    }
    .fp-tooltip{
      -webkit-transition: opacity 0.2s ease-in;
      transition: opacity 0.2s ease-in;
      width: auto;
      opacity: 1;
    }
  }
}

.icon-logo{
  display: block;
  margin: 0;
  text-align: center;
  font-size: 2.5em;
  font-weight: 200;
  img{
    max-width: 100%;
  }
  &:hover, &:visited{
    color: $white-like;
  }
  color: $white-like;
}

#top-navbar{
  z-index: 300;
  position: relative;
  @media (min-width: $screen-md-min) {
    margin: 0;
  }
}
#navigation{
  position: fixed;
  width: 45px;
  z-index: 200;
  top: 50%;
  right: 40px;
  @include transform(translate3d(0,-50%,0));
  h3{
    color: #fff;
    font-size: 1.75em;
    text-align: center;
    @include transition(all 0.25s ease-in-out);
    font-family: 'Dosis';
    position: relative;
  }
  h3:first-child{
    margin: 0 0 31px 0;
  }
  .line{
    width: 100%;
    height: 1px;
    top: 50%;
    margin-top: -0.05px;
    background-color: #fff;
    position: absolute;
  }
}
#menu{
  display: none;
  background-color: rgba(5,40,51,0.98);
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 200;
  opacity: 0;
  top: 0;
  left: 0;
  @include transition(opacity 0.5s ease-in-out);
  a{
    padding: 0;
    text-align: center;
    h3{
      color: #fff;
      opacity: 0.5;
      font-size: 32px;
      font-family: 'Dosis';
      text-align: center;
      font-weight: 100;
      margin: 1em 0;
      @include transform(scale(0.75));
      @include transition(all 0.5s ease-in-out);
      @media (min-width: $screen-md-min) {
        font-size: 3em;
      }
    }
    .line{
      width: 100%;
      height: 1px;
      background-color: rgba(255,255,255,0.5);
      position: relative;
      .progress{
        width: 0;
        height: 1px;
        background-color: #fff;
        @include transition(width 0.5s ease-in-out);
      }
    }
  }
  a.active, a:hover{
    h3{
      opacity: 1;
      @include transform(scale(1));
    }
    .line{
      .progress{
        width: 100%;
      }
    }
  }
  .top-info{
    position: absolute;
    top: 25%;
    width: 100%;
    color: #ababab;
    text-align: center;
    font-size: 14px;
    font-family: 'Open Sans';
    font-weight: 100;
  }
  .bottom-info{
    position: absolute;
    bottom: 15%;
    width: 100%;
    color: #ababab;
    text-align: center;
    font-size: 14px;
    font-family: 'Open Sans';
    font-weight: 100;
  }
  @media (min-width: $screen-md-min) {
    font-size: 1em;
  }
}
#menu.open{
  opacity: 1;
  display: block;
}
.fp-section.fp-table, .fp-slide.fp-table {
  display: table;
  table-layout: fixed;
  width: 100%;
}
.fp-tableCell {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    height: 100%;
}
